body {
  margin: 0%;
  overflow-x: hidden;
}
/* PAGE 1 */

.barrehome {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffb4e1;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  /* Pour aligner le logo à gauche et le menu à droite */
  padding: 10px 20px;
  /* Ajoutez de l'espace autour du contenu */
}
.barrehome a{
  text-decoration: none;
}

.logo {
  color: #000000;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  font-weight: bold;
  /* Utilisez font-weight pour définir la graisse du texte */
  margin: 5px 0;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.menu-item {
  position: relative;
  margin-right: 40px;
  cursor: pointer;
}

.menu-item a {
  color: #000000;
  text-decoration: underline;
  font-size: 20px;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 5px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.menu-dropdown li {
  display: block;
}

.menu-dropdown a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.menu-item:hover .menu-dropdown {
  display: block;
}

/* banniere */
.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.overlay-button {
  position: absolute;
  top: 80%;
  /* Augmentez cette valeur pour abaisser le bouton */
  left: 50%;

  transform: translate(-50%, -50%);
  background-color: #FFB4E1;
  color: #fff;
  padding: 15px 120px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-color: black;
}

.overlay-button a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}

.overlay-button:hover{
  background-color: #f972c3;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner h1 { 
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Londrina Shadow';
  font-weight: 800;
  font-size: 90px;
}

.p1 {
  position: absolute;
  top: 28%;
  left: 51%;
  transform: translate(-50%, -50%);
  font-family: 'Prompt';
  padding: 10px;
  font-size: 70px;
  white-space: nowrap;
}

.meilleurs {
  display: inline; 
  color: #000000;
}


.p2 {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, 10%);
  font-family: 'Prompt';
  padding: 10px;
  font-size: 70px;

}
/* La ligne rose */
.ligne {
  background-color: #FFB4E1;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
}

.ligne .logo {
  font-size: 40px;
  margin-left: 90px;
  padding-top: 40px;
  font-style: bold;

}

.ligne button {
  position: absolute;
  top: 106%;
  left: 87%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  color: #fff;
  padding: 15px 120px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 60px;

}

.ligne button:hover{
  background-color: white;
}

.ligne button a {
  font-size: 20px;
  text-decoration: none;
  color: #FFB4E1;
}

.ad {
  font-family: Roboto;
  font-weight: 400;
  margin-left: 25%;
  font-size: 25px;
  margin-top: -50px;
}

/* Animation css */
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 20px;
    width: 100%;
  }
}

/* Utilisaton de l'animation */
.exemple {
  margin-top: 10px;
  font-size: 30px;
  margin-left: 20px;
  animation-duration: 5s;
  animation-name: slidein;
}




/* Les cards */
.card {
  width: 385px;
  height: 625px;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  box-shadow: 0 2px 4px #e9e9e9;
  overflow: hidden;
  margin-left: 50px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 1%;
  

}

.card img {
  width: 100%;
  height: auto;

}

.card-content {
  padding: 20px;
}

.card h2 {

  font-size: 20px;
  margin: 30px;
  font-family: Roboto;
  font-weight: 600;
  color: black;
}

.card-content p {
  font-size: 1rem;
  color: #555;
  margin: 0;
  font-family: Roboto;
  font-weight: 500;

}

.card-content button {
  /* position: absolute; */
 left: 10%; 
  margin-top: 2%;
  background-color: #FFB4E1;
  color: #fff;
  color: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-style: none;
}

.card-content button:hover{
  background-color: #f972c3;
}

.card-content button a{
  text-decoration: none;
  color: black;
}


.carousel-items {
  display: flex;
  overflow-x:scroll; /* pour faire bouger les cards */
  padding: 1rem 0;
  margin: 0; 
}


.carousel-item {
  flex: 1 0 250px;
  margin-right: 1px;
  list-style-type: none;

}
.carousel-item img {
  width: 110%; /* Ajustez la largeur comme vous le souhaitez, par exemple 50% pour les réduire de moitié */
  height: auto; /* Garantit que la hauteur est ajustée proportionnellement */
}

.sophie{
  height: 2%;
}
/* footer */

footer {
  background-color: #FFB4E1;
  height: 150px;
  margin-top:13%;
  margin-bottom: 10px;
  margin-right: 25px;
  margin-left: 25px;
  padding-bottom: 3%;
  border-radius: 10px
}


footer li{
font-size: 20px;
margin-left:20px;
list-style: none;
margin-left: 4%;

}
footer li b{
  font-family: 'Times New Roman'
  
  }

.subscribe h4{
  margin-top: -10.5%;
  margin-left: 50%;
  font-family: 'Londrina Shadow'
}

footer h4{
font-size: 30px;
margin-top:-15% ;
margin-left: 4%;
padding-top: 20px;
font-family: 'Playfair Display';
border-bottom: 1px solid rgb(0, 0, 0);    
width: 15%;
padding-bottom: 5px;
font-family: 'Londrina Shadow'


}
footer input{
margin-left: 50%;
margin-top: -10%;
padding-right: 20%;
padding-top: -20%;
padding-bottom: 5px;
border-radius: 10px
}
.footer2 {
  background-color: #FFB4E1;
  height: 10px;
  margin-bottom: 1%;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 2px;
  padding: 14px;
  border-radius: 10px
}
.button-container {
  display: flex;
  align-items: center;
}

footer button {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px; 
  border-radius: 20px;
  margin-left: 50%; 
  margin-top: -8%;
  cursor: pointer;
  font-size: 18px; 
  color: #000000; 
}
footer button a {
 text-decoration: none;
 color: #000000;
}
button:hover {
  background-color: #ffd1ed; 
}




/* Pages DA stratégiques */

.barrehome2 {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #F6B339;
    z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px;
}
.barrehome2 a{

  text-decoration: none;
}

.barrehome2 .logo {
  margin: 0; 
  font-size: 30px; 
}

.barrehome2 .titre {
  margin: 0; 
}

.barrehome2 .menu {
  margin-right: 40px;
}


header {

    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header .titre {
  font-size:20px;
   color: black;
    font-size: 24px;
    margin-top:2px;
}
#introstrat {
  margin-top: 2%;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
}

.card1 {
  width: 450px;
  height: auto;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  box-shadow: 0 2px 4px #e9e9e9;
  overflow: hidden;
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 4%;
  margin-top: 4%;



}

.card1 img {
  width: 100%;
  height: auto;

}

.card1 h2 {

  font-size: 20px;
  margin: 30px;
  font-family: Roboto;
  font-weight: 600;
  color: black;
}

.card1 .card-content {
  padding: 20px;
  background-color: white;
}

.card1 .card-content p {
  font-size: 1rem;
  color: #555;
  margin: 0;
  font-family: Roboto;
  font-weight: 500;

}

.card1 .card-content button {
  /* position: absolute; */
 left: 10%; 
  margin-top: 2%;
  background-color: #F6B339;
  color: #fff;
  color: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-style: none;
}
.card1 .card-content button:hover{
  background-color: #f0d8ac;
}

.card1 .card-content button a{
  text-decoration: none;
}


.overlay-buttonstrat {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F6B339;
  color: #fff;
  padding: 15px 120px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-color: black;
}

.overlay-buttonstrat a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}

.overlay-buttonstrat button:hover{
  background-color: #f0d8ac;
}

#ligne2{
  padding-top: 25px;
  background-color: #ffac53;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 10%;
  margin-left: 20px;
  margin-right: 20px;
}

.ligne4{
  padding-top: 25px;
  background-color: #ffac53;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligne4 .images {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 1px;
  list-style: none;
  display: flex; /* Mettez la liste en mode flex */
  justify-content: center; /* Pour centrer les images horizontalement */
  align-items: center; /* Pour centrer les images verticalement */
  padding: 0; /* Supprimez les espaces intérieurs de la liste */
}

.ligneang{
  padding-top: 25px;
  background-color: #ffac53;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligneang img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.ligneang .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 34%;
    font-size: 75px;
    margin-top: -150px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

.angelo{
  margin: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
p{
  margin-left: 10px;
  font-size: 30px;

}


.images li {
  margin: 0; /* Supprimez les marges par défaut des éléments li */
  flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
}

.images img {
  height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
  width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
}



#ligne3{
  padding-top: 25px;
  background-color: #7e2222;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 12%;
  margin-left: 20px;
  margin-right: 20px;
}

.ligne6{
  padding-top: 25px;
  background-color: #7e2222;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligne6 .images {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 1px;
  list-style: none;
  display: flex; /* Mettez la liste en mode flex */
  justify-content: center; /* Pour centrer les images horizontalement */
  align-items: center; /* Pour centrer les images verticalement */
  padding: 0; /* Supprimez les espaces intérieurs de la liste */
}

.ligne6{
  padding-top: 25px;
  background-color: #7e2222;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligne6 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.ligne6 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 36%;
    font-size: 75px;
    margin-top: -140px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

.txt2{
  animation: 3s alternate slidein;
}

.ligne13{
  padding-top: 25px;
  background-color: #7e2222;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligne13 .images2 {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 1px;
  list-style: none;
  display: flex; /* Mettez la liste en mode flex */
  justify-content: center; /* Pour centrer les images horizontalement */
  align-items: center; /* Pour centrer les images verticalement */
  padding: 0; /* Supprimez les espaces intérieurs de la liste */
}
.images2 li {
  margin: 0; /* Supprimez les marges par défaut des éléments li */
  flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
}

.images2 img {
  height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
  width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
}


.button-container {
margin-left: 70%; 
 
display: flex;
align-items: center; /* Centrez verticalement les éléments sur la ligne */
}
.button-container h6 {
  font-size: 23px; 
  

}
.custom-button {
  background-color: #F6B339;
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 20px;
  margin-left: 10px; /* Ajoutez un espacement entre le texte et le bouton */
}

.custom-button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.custom-button:hover {
  background-color: #f0d8ac; 
  cursor: pointer;
}
.angélotxt{
    animation: 3s alternate slidein;
}
.ligne20{
  padding-top: 25px;
  background-color: #7e2222;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligne20 .images {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 1px;
  list-style: none;
  display: flex; /* Mettez la liste en mode flex */
  justify-content: center; /* Pour centrer les images horizontalement */
  align-items: center; /* Pour centrer les images verticalement */
  padding: 0; /* Supprimez les espaces intérieurs de la liste */
}















/* Page merci de sauver la terre  */

.barrehome3 {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #04BBFF;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 20px;
}
.barrehome3 a{

  text-decoration: none;
}

.barrehome3 .logo {
  margin: 0; 
  font-size: 30px; 
}

.barrehome3 .title {
  margin: 0; 
}

.barrehome3 .menu {
  margin-right: 40px;
}

.overlay-buttonhero {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #04BBFF;
  color: #fff;
  padding: 15px 120px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-color: black;
}

.overlay-buttonhero a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}


.card2 {
  width: 450px;
  height: auto;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  box-shadow: 0 2px 4px #e9e9e9;
  overflow: hidden;
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 4%;
  margin-top: 4%;



}

.card2 img {
  width: 100%;
  height: auto;

}

.card2 h2 {

  font-size: 20px;
  margin: 30px;
  font-family: Roboto;
  font-weight: 600;
  color: black;
}

.card2 .card-content {
  padding: 20px;
  background-color: white;
}

.card2 .card-content p {
  font-size: 1rem;
  color: #555;
  margin: 0;
  font-family: Roboto;
  font-weight: 500;

}

.card2 .card-content button {
  /* position: absolute; */
 left: 10%; 
  margin-top: 2%;
  background-color: #04BBFF;
  color: #fff;
  color: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-style: none;
}
.card2 .card-content button:hover{
  background-color: #008fc4;
}

.card2 .card-content button a{
  text-decoration: none;
}


#ligne8{
  padding-top: 25px;
  background-color: #04BBFF;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 10%;
  margin-left: 20px;
  margin-right: 20px;
}

.ligne10{
  padding-top: 25px;
  background-color: #04BBFF;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligne10 .images {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 1px;
  list-style: none;
  display: flex; /* Mettez la liste en mode flex */
  justify-content: center; /* Pour centrer les images horizontalement */
  align-items: center; /* Pour centrer les images verticalement */
  padding: 0; /* Supprimez les espaces intérieurs de la liste */
}

.ligne11{
  padding-top: 25px;
  background-color: #04BBFF;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligne11 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.ligne11 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 34%;
    font-size: 75px;
    margin-top: -150px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

.angelo{
  margin: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
p{
  margin-left: 10px;
  font-size: 30px;

}


.images3 li {
  margin: 0; /* Supprimez les marges par défaut des éléments li */
  flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
}

.images3 img {
  height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
  width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
}


.ligne5{
  padding-top: 25px;
  background-color: #04BBFF;
  height: 150px;
  margin-top: 6%;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligne5 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.ligne5 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 32%;
    font-size: 75px;
    margin-top: 30px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

  .lignehero4{
    padding-top: 25px;
    background-color: #04BBFF;
    height: 150px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 0px;
    padding-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .lignehero4 .images {
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 1px;
    list-style: none;
    display: flex; /* Mettez la liste en mode flex */
    justify-content: center; /* Pour centrer les images horizontalement */
    align-items: center; /* Pour centrer les images verticalement */
    padding: 0; /* Supprimez les espaces intérieurs de la liste */
  }
  .lignehero4 .images li {
    margin: 0; /* Supprimez les marges par défaut des éléments li */
    flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
  }
  
  .lignehero4  .images img {
    height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
    width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
  }
 







/* Page Frateries */

.t3 {
  margin-top: 8%; 
}

.barrehome4 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: #e096f8;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-left: 20px;
  /* padding-right: 2%; */
}

.barrehome4 a{

  text-decoration: none;
}

.barrehome4 .logo {
  margin: 0; 
  font-size: 30px; 
}

.barrehome4 .titre {
  margin: 0; 
}

.barrehome2 .menu {
  margin-right: 40px;
}
.overlay-buttonfrat {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e096f8;
  color: #fff;
  padding: 15px 120px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-color: black;
}

.overlay-buttonfrat a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
.overlay-buttonfrat:hover{
  background-color: #bf00ff;
}

.card3 {
  width: 450px;
  height: auto;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  box-shadow: 0 2px 4px #e9e9e9;
  overflow: hidden;
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 4%;
  margin-top: 4%;



}

.card3 img {
  width: 100%;
  height: auto;

}

.card3 .card-content {
  padding: 20px;
  background-color: white;
}

.card3 h2 {

  font-size: 20px;
  margin: 30px;
  font-family: Roboto;
  font-weight: 600;
  color: black;
}

.card3 .card-content p {
  font-size: 1rem;
  color: #555;
  margin: 0;
  font-family: Roboto;
  font-weight: 500;

}

.card3 .card-content button {
  background-color: #e096f8; /* Couleur de fond du bouton */
  color: #FFFFFF; 
  padding: 13px 40px; 
  border: none; 
  cursor: pointer;
  
}
.card3 .card-content  button:hover{
  background-color:#cc32ff;
}
.card3 .card-content  button a {
  text-decoration: none; 
}



#lignefrat8{
  padding-top: 25px;
  background-color: #e096f8;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 10%;
  margin-left: 20px;
  margin-right: 20px;
}

.lignefrat10{
  padding-top: 25px;
  background-color: #e096f8;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
}
.lignefrat10 .images {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 1px;
  list-style: none;
  display: flex; /* Mettez la liste en mode flex */
  justify-content: center; /* Pour centrer les images horizontalement */
  align-items: center; /* Pour centrer les images verticalement */
  padding: 0; /* Supprimez les espaces intérieurs de la liste */
}

.lignefrat11{
  padding-top: 25px;
  background-color: #e096f8;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.lignefrat11 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.lignefrat11 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 34%;
    font-size: 75px;
    margin-top: -150px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

.angelo{
  margin: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
p{
  margin-left: 10px;
  font-size: 30px;

}


.images3 li {
  margin: 0; /* Supprimez les marges par défaut des éléments li */
  flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
}

.images3 img {
  height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
  width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
}


.lignefrat5{
  padding-top: 25px;
  background-color: #e096f8;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.lignefrat5 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.lignefrat5 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 32%;
    font-size: 75px;
    margin-top: 30px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }


  .lignefrat4{
    padding-top: 25px;
    background-color: #e096f8;
    height: 150px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 0px;
    padding-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .lignefrat4 .images {
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 1px;
    list-style: none;
    display: flex; /* Mettez la liste en mode flex */
    justify-content: center; /* Pour centrer les images horizontalement */
    align-items: center; /* Pour centrer les images verticalement */
    padding: 0; /* Supprimez les espaces intérieurs de la liste */
  }
  .lignefrat4 .images li {
    margin: 0; /* Supprimez les marges par défaut des éléments li */
    flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
  }
  
  .lignefrat4  .images img {
    height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
    width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
  }










/* Page Monde Fictif */
.p3{
  position: absolute;
  top: 53%;
  left: 24%;
  font-family: 'Prompt';
  font-size: 69px;
}


.barrehome5 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: #536cfe;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 6px 20px;
}

.barrehome5 a{

  text-decoration: none;
}

.barrehome5 .logo {
  margin: 0; 
  font-size: 30px; 
}

.barrehome5 .titre {
  margin: 0; 
}

.barrehome5 .menu {
  margin-right: 40px;
}

.overlay-buttonmondef {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #536cfe;
  color: #fff;
  padding: 15px 120px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-color: black;
}

.overlay-buttonmondef a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
.overlay-buttonmondef:hover{
  background-color: #0025f968;
}


.card4 {
  width: 450px;
  height: auto;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  box-shadow: 0 2px 4px #e9e9e9;
  overflow: hidden;
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 4%;
  margin-top: 4%;



}

.card4 img {
  width: 100%;
  height: auto;

}

.card4 .card-content {
  padding: 20px;
  background-color: white;
}

.card4 h2 {

  font-size: 20px;
  margin: 30px;
  font-family: Roboto;
  font-weight: 600;
  color: black;
}

.card4 .card-content p {
  font-size: 1rem;
  color: #000000;
  margin: 0;
  font-family: Roboto;
  font-weight: 500;

}

.card4 .card-content button {
  background-color: #536cfe; /* Couleur de fond du bouton */
  color: #FFFFFF; 
  padding: 13px 40px; 
  border: none; 
  cursor: pointer;
  
}
.card4 .card-content  button:hover{
  background-color:#2344ff88;
}
.card4 .card-content  button a {
  text-decoration: none; 
  color: #000000;
}


#lignemondef8{
  padding-top: 25px;
  background-color: #536cfe;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 10%;
  margin-left: 20px;
  margin-right: 20px;
}

.lignemondef10{
  padding-top: 25px;
  background-color: #536cfe;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
}
.lignemondef10 .images {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 1px;
  list-style: none;
  display: flex; /* Mettez la liste en mode flex */
  justify-content: center; /* Pour centrer les images horizontalement */
  align-items: center; /* Pour centrer les images verticalement */
  padding: 0; /* Supprimez les espaces intérieurs de la liste */
}

.lignemondef11{
  padding-top: 25px;
  background-color: #536cfe;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.lignemondef11 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.lignemondef11 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 34%;
    font-size: 75px;
    margin-top: -150px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

.angelo{
  margin: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
p{
  margin-left: 10px;
  font-size: 30px;

}


.images3 li {
  margin: 0; /* Supprimez les marges par défaut des éléments li */
  flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
}

.images3 img {
  height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
  width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
}


.lignemondef5{
  padding-top: 25px;
  background-color: #536cfe;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.lignemondef5 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.lignemondef5 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 32%;
    font-size: 75px;
    margin-top: 30px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }


  .lignemondef4{
    padding-top: 25px;
    background-color: #536cfe;
    height: 150px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 0px;
    padding-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .lignemondef4 .images {
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 1px;
    list-style: none;
    display: flex; /* Mettez la liste en mode flex */
    justify-content: center; /* Pour centrer les images horizontalement */
    align-items: center; /* Pour centrer les images verticalement */
    padding: 0; /* Supprimez les espaces intérieurs de la liste */
  }
  .lignemondef4 .images li {
    margin: 0; /* Supprimez les marges par défaut des éléments li */
    flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
  }
  
  .lignemondef4  .images img {
    height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
    width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
  }













/* Page dans une école */

.p4{
  position: absolute;
  top: 54%;
  left: 32%;
  font-family: 'Prompt';
  font-size: 68px;
}

.barrehome6 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: #5ece84;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 6px 20px;
}

.barrehome6 a{

  text-decoration: none;
}

.barrehome6 .logo {
  margin: 0; 
  font-size: 30px; 
}

.barrehome6 .titre {
  margin: 0; 
}

.barrehome6.menu {
  margin-right: 40px;
}

.overlay-buttonécole {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5ece84;
  color: #fff;
  padding: 15px 120px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-color: black;
}

.overlay-buttonécole a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
.overlay-buttonécole:hover{
  background-color: #0c8e37;
}


.card5 {
  width: 450px;
  height: auto;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  box-shadow: 0 2px 4px #e9e9e9;
  overflow: hidden;
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 4%;
  margin-top: 4%;



}

.card5 img {
  width: 100%;
  height: auto;

}

.card5 .card-content {
  padding: 20px;
  background-color: white;
}

.card5 h2 {

  font-size: 20px;
  margin: 30px;
  font-family: Roboto;
  font-weight: 600;
  color: black;
}

.card5 .card-content p {
  font-size: 1rem;
  color: #555;
  margin: 0;
  font-family: Roboto;
  font-weight: 500;

}

.card5 .card-content button {
  /* position: absolute; */
 left: 10%; 
  margin-top: 2%;
  background-color: #5ece84;
  color: #fff;
  color: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-style: none;
}
.card5 .card-content button:hover{
  background-color: #0c8e37;
}

.card5 .card-content button a{
  text-decoration: none;
  color: black;
}


#ligneecole8{
  padding-top: 25px;
  background-color: #5ece84;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 10%;
  margin-left: 20px;
  margin-right: 20px;
}

.ligneecole10{
  padding-top: 25px;
  background-color: #5ece84;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligneecole10 .images {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 1px;
  list-style: none;
  display: flex; /* Mettez la liste en mode flex */
  justify-content: center; /* Pour centrer les images horizontalement */
  align-items: center; /* Pour centrer les images verticalement */
  padding: 0; /* Supprimez les espaces intérieurs de la liste */
}

.ligneecole11{
  padding-top: 25px;
  background-color: #5ece84;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligneecole11 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.ligneecole11 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 34%;
    font-size: 75px;
    margin-top: -150px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

.angelo{
  margin: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
p{
  margin-left: 10px;
  font-size: 30px;

}


.images3 li {
  margin: 0; /* Supprimez les marges par défaut des éléments li */
  flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
}

.images3 img {
  height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
  width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
}


.ligneecole5{
  padding-top: 25px;
  background-color: #5ece84;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligneecole5 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.ligneecole5 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 44%;
    font-size: 75px;
    margin-top: 30px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

  .ligneecole4{
    padding-top: 25px;
    background-color: #5ece84;
    height: 150px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 0px;
    padding-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .ligneecole4 .images {
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 1px;
    list-style: none;
    display: flex; /* Mettez la liste en mode flex */
    justify-content: center; /* Pour centrer les images horizontalement */
    align-items: center; /* Pour centrer les images verticalement */
    padding: 0; /* Supprimez les espaces intérieurs de la liste */
  }
  .ligneecole4 .images li {
    margin: 0; /* Supprimez les marges par défaut des éléments li */
    flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
  }
  
  .ligneecole4  .images img {
    height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
    width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
  }














/* Page Classiques */

.p5{
  position: absolute;
  top: 52%;
  left: 37%;
  font-family: 'Prompt';
  font-size: 68px;
}

.barrehome7 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: #fc4d4d;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 6px 20px;
}

.barrehome7 a{

  text-decoration: none;
}

.barrehome7 .logo {
  margin: 0; 
  font-size: 30px; 
}

.barrehome7 .titre {
  margin: 0; 
}

.barrehome7 .menu {
  margin-right: 40px;
}

.overlay-buttonclas {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fc4d4d;
  color: #fff;
  padding: 15px 120px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-color: black;
}

.overlay-buttonclas a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
.overlay-buttonclas:hover{
  background-color: #fc4d4d8b;
}

.card6 {
  width: 450px;
  height: auto;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  box-shadow: 0 2px 4px #e9e9e9;
  overflow: hidden;
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 4%;
  margin-top: 4%;



}

.card6 img {
  width: 100%;
  height: auto;

}

.card6 h2 {

  font-size: 20px;
  margin: 30px;
  font-family: Roboto;
  font-weight: 600;
  color: black;
}

.card6 .card-content {
  padding: 20px;
  background-color: white;
}

.card6 .card-content p {
  font-size: 1rem;
  color: #555;
  margin: 0;
  font-family: Roboto;
  font-weight: 500;

}

.card6 .card-content button {
  /* position: absolute; */
 left: 10%; 
  margin-top: 2%;
  background-color: #fc4d4d;
  color: #fff;
  color: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-style: none;
}
.card6 .card-content button:hover{
  background-color: #fc4d4d8b;
}

.card6 .card-content button a{
  text-decoration: none;
}


#ligneclas8{
  padding-top: 25px;
  background-color: #fc4d4d;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 10%;
  margin-left: 20px;
  margin-right: 20px;
}

.ligneclas10{
  padding-top: 25px;
  background-color: #fc4d4d;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligneclas10 .images {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 1px;
  list-style: none;
  display: flex; /* Mettez la liste en mode flex */
  justify-content: center; /* Pour centrer les images horizontalement */
  align-items: center; /* Pour centrer les images verticalement */
  padding: 0; /* Supprimez les espaces intérieurs de la liste */
}

.ligneclas11{
  padding-top: 25px;
  background-color: #fc4d4d;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligneclas11 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.ligneclas11 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 34%;
    font-size: 75px;
    margin-top: -150px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

.angelo{
  margin: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
p{
  margin-left: 10px;
  font-size: 30px;

}


.images3 li {
  margin: 0; /* Supprimez les marges par défaut des éléments li */
  flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
}

.images3 img {
  height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
  width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
}


.ligneclas5{
  padding-top: 25px;
  background-color: #fc4d4d;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.ligneclas5 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.ligneclas5 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 44%;
    font-size: 75px;
    margin-top: 30px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }


  .ligneclas4{
    padding-top: 25px;
    background-color: #fc4d4d;
    height: 150px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 0px;
    padding-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .ligneclas4 .images {
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 1px;
    list-style: none;
    display: flex; /* Mettez la liste en mode flex */
    justify-content: center; /* Pour centrer les images horizontalement */
    align-items: center; /* Pour centrer les images verticalement */
    padding: 0; /* Supprimez les espaces intérieurs de la liste */
  }
  .ligneclas4 .images li {
    margin: 0; /* Supprimez les marges par défaut des éléments li */
    flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
  }
  
  .ligneclas4  .images img {
    height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
    width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
  }













/* Page Mentions spéciales */

.banner2 h1{
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Londrina Shadow';
  font-weight: 800;
  font-size: 180px;
  text-align: center;
margin-top: 5%;
}

.barrehome8 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7%;
  background-color: #a1a0a0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 6px 20px;
}

.barrehome8 a{

  text-decoration: none;
}

.barrehome8 .logo {
  margin: 0; 
  font-size: 30px; 
}

.barrehome8 .titre {
  margin: 0; 
}

.barrehome8 .menu {
  margin-right: 40px;
}

.overlay-buttonms {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #a1a0a0;
  color: #fff;
  padding: 15px 120px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-color: black;
}

.overlay-buttonms a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
.overlay-buttonms:hover{
  background-color: #dadada;
}

.card7 {
  width: 450px;
  height: auto;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  box-shadow: 0 2px 4px #e9e9e9;
  overflow: hidden;
  margin-left: 20px;
  display: inline-block;
  margin-bottom: 4%;
  margin-top: 4%;



}

.card7 img {
  width: 100%;
  height: auto;

}

.card7 h2 {

  font-size: 20px;
  margin: 30px;
  font-family: Roboto;
  font-weight: 600;
  color: black;
}

.card7 .card-content {
  padding: 20px;
  background-color: white;
}

.card7 .card-content p {
  font-size: 1rem;
  color: #555;
  margin: 0;
  font-family: Roboto;
  font-weight: 500;

}

.card7 .card-content button {
  /* position: absolute; */
 left: 10%; 
  margin-top: 2%;
  background-color: #a1a0a0;
  color: #fff;
  color: #fff;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  border-style: none;
}
.card7 .card-content button:hover{
  background-color: #dadada;
}

.card7 .card-content button a{
  text-decoration: none;
  color: #000000;
}

.card7 .card-content h2{
  margin-left: 0px;
  margin-top: 3px;
}

.tms h1{
  font-size: 135px;
}

#lignems8{
  padding-top: 25px;
  background-color: #a1a0a0;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding-bottom: 16%;
  margin-left: 20px;
  margin-right: 20px;
}
#lignems8 iframe {
 margin-top: -400px;
 margin-bottom: 40px;
  margin-left: 30px;
  width: 560px; /* Ajustez la largeur selon vos besoins */
  height: 315px; /* Ajustez la hauteur selon vos besoins */
}
#lignems8 .txtdroite{

  text-align: left;
  margin-left: 50%;
 

}


#lignems9{
  padding-top: 25px;
  background-color: #a1a0a0;
  height: 150px;
  margin-top: 2%;
  margin-bottom: 4%;
  padding-bottom: 16%;
  margin-left: 20px;
  margin-right: 20px;
}
#lignems9 iframe {
 margin-top: 10px;
 margin-bottom: 40px;
  margin-left: 54%;
  width: 560px; /* Ajustez la largeur selon vos besoins */
  height: 315px; /* Ajustez la hauteur selon vos besoins */
}
#lignems9 .txtgauche{
margin-top: -27%;
  text-align: right;
  margin-right: 50%;

}
.lignems10{
  padding-top: 25px;
  background-color: #a1a0a0;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 5%;
  margin-left: 20px;
  margin-right: 20px;
}
.lignems10 .images {
  margin-left: 21px;
  margin-right: 21px;
  margin-top: 1px;
  list-style: none;
  display: flex; /* Mettez la liste en mode flex */
  justify-content: center; /* Pour centrer les images horizontalement */
  align-items: center; /* Pour centrer les images verticalement */
  padding: 0; /* Supprimez les espaces intérieurs de la liste */
}

.lignems11{
  padding-top: 25px;
  background-color: #a1a0a0;
  height: 150px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
.lignems11 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.lignems11 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 34%;
    font-size: 75px;
    margin-top: -150px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

.angelo{
  margin: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
}
p{
  margin-left: 10px;
  font-size: 30px;

}


.images3 li {
  margin: 0; /* Supprimez les marges par défaut des éléments li */
  flex: 1; /* Faites en sorte que chaque élément <li> occupe la même quantité d'espace */
}

.images3 img {
  height: auto; /* Pour que les images s'ajustent automatiquement à leur largeur d'origine */
  width: 100%; /* Pour occuper tout l'espace disponible dans chaque <li> */
}


.lignems5{
  padding-top: 25px;
  background-color: #a1a0a0;
  height: 150px;
  margin-top: 6%;
  margin-bottom: 35px;;
  padding-bottom: 2%;
  margin-left: 4%;
  margin-right: 4%;
}
.lignems5 img{
  width: 18%;
  height: auto;
  margin-left: 25px;
}
.lignems5 .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 10%;
    font-size: 75px;
    margin-top: 30px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }

  .lignems5 .ad2{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 8%;
    font-size: 70px;
    margin-top: 30px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }



  .lignemsmouk{
    padding-top: 25px;
    background-color: #a1a0a0;
    height: 150px;
    margin-top: 5%;
    margin-bottom: 35px;
    margin-right: 0px;
    padding-bottom: 2%;
    margin-left:1px;
    margin-right: 1px;
  }

  .lignemsmouk .ad{
    font-family: Roboto;
    font-weight: 400;
    margin-left: 10%;
    font-size: 75px;
    margin-top: 30px; /* Ajustez cette valeur pour monter le texte plus haut */
    font-family: 'Londrina Shadow';
  }
  #lignemsmouk8 {
    padding-top: 25px;
    background-color: #a1a0a0;
    height: 150px;
    margin-top: 2%;
    margin-bottom: 60px;
    margin-right: 0px;
    padding-bottom: 17%;
    margin-left:1px;
    margin-right: 1px;

  }
.video-containermouk{
margin-left: 3%;
margin-top: -25%;



}
#lignemsmouk8 .txtdroite{

margin-left: 50%;
}
.video-containermouk iframe{
  width: 600px;
  height: 300px;
  
  }
.lignemssophie{
  padding-top: 25px;
  background-color: #a1a0a0;
  height: 150px;
  margin-top: 4%;
  margin-bottom: 2%;
  margin-right: 0px;
  padding-bottom: 2%;
  margin-left:3%;
  margin-right: 3%;
}

.lignemssophie .ad2{
  font-family: Roboto;
  font-weight: 400;
  margin-left: 10%;
  font-size: 60px;
  margin-top: 30px; /* Ajustez cette valeur pour monter le texte plus haut */
  font-family: 'Londrina Shadow'
}


/* TOP 10 */
.banner3 h1{
  position: absolute;
  top: 60%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-family: 'Londrina Shadow';
  font-weight: 800;
  font-size: 90px;

}

.banner3 .p2{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 10%);
  font-family: 'Prompt';
  padding: 10px;
  font-size: 70px
}



.card10 {
  width: 385px;
  height: 550px;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  box-shadow: 0 2px 4px #e9e9e9;
  overflow: hidden;
  margin-left: 50px;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 1%;
  

}

.card10 img {
  width: 100%;
  height: auto;

}

.card10-content {
  padding: 20px;
}

.card10 h2 {

  font-size: 20px;
  margin: 30px;
  font-family: Roboto;
  font-weight: 600;
  color: black;
}

.card10-content p {
  font-size: 1rem;
  color: #555;
  margin: 0;
  font-family: Roboto;
  font-weight: 500;

}




