body {
  background-color: rgb(233, 241, 243);
  justify-content: center;
  align-items: center;
  width:100%;
  height:100vh;
  overflow-x: hidden;
  overflow-y: visible;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 16px;
  }
}



.ghiblinav {
  background-color: #405430ff;
  overflow: hidden;
}

.ghiblinav a {
  float: left;
  color: #e5ebecff;
  text-align: center;
  padding: 1% 2%;
  text-decoration: none;
  font-size: 100%;
  font-family: 'Gabarito', sans-serif;
  justify-content: space-evenly;
}

.ghiblinav img {
  padding:none;
  width:15%;
  height:15%
}


.ghiblinav a:hover {
  background-color: #547856ff;
  color: #e5ebecff;
}


.ghiblinav a.active {
  background-color: #547856ff;
  color: #e5ebecff;
}

div.gallery {
  margin:1%;
  border: none;
  float: left;
  width: 180px;
  align-items: center;
}

div.gallery:hover {
 background-color: #405430ff;
}

div.gallery img {
  width: 100%;
  height: 100%;
}

.intro img {
  width:100%;
  height: 50%;
}

.intro h2 {
  font-family: "Jua", sans-serif;
  font-size: 300%;
  text-align: center;
  padding: 2%;
}

.container {
  display:flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.left-content img{
  flex: 1; 
  float: left;
  clear:both;
  justify-content: center;
  margin-top: 20%;
  margin-left:20%;
  margin-bottom: 10%;
}

.left-content img:hover{
  background-color: #405430ff;
}

.left-content h2{
  flex: 1; 
  margin-left: 25%;
  float:left;
  color: #547856ff;
  font-family: "Jua", sans-serif;
  font-size: 300%;
}

.left-content p{
  font-size:150%;
  text-decoration: solid;
  font-family:"Gabarito", serif;
  max-width:50%;
  margin-left: 10%;
  margin-top: 15%;
}

.left-content ol{
  font-size:150%;
  text-decoration: solid;
  font-family:"Gabarito", serif;
  max-width:50%;  
  margin-left:1%;
  text-align:justify;
  float: left;
}

.left-content ul{
  font-size:150%;
  text-decoration: solid;
  font-family:"Gabarito", serif;
  max-width:50%;  
  margin-left:1%;
  text-align:justify;
  list-style-type:none;
  float: left;
}

.right-content img {
  flex: 1;
  float:right;
  clear:both;
  justify-content: center;
  margin-right: 55%;
  margin-top: 10%;
}

.right-content p{
  font-size:150%;
  text-decoration: solid;
  font-family:"Gabarito", serif;
  max-width:50%;
  margin-right: 5%;
  margin-top: 12%;
  text-align: justify;
  float:right;
}

.right-content ul{
  font-size: 140%;
  text-decoration: solid;
  font-family:"Gabarito", serif;
  max-width:50%;
  margin-right:20%;
  float: right;
  text-align:justify;
}

.right-content h2{
  flex: 1; 
  margin-right: 25%;
  float:right;
  color: #547856ff;
  font-family: "Jua", sans-serif;
  font-size: 300%;
}

div.relative {
  position: relative;
  left: auto;
  right:auto;
}
